<div class="bucket__bucket-page-view">
	{{#browseText}}<h3>{{{.}}}</h3>{{/browseText}}
	<p>{{{ resultHeaderText }}}{{#diveText}} · {{{.}}}{{/diveText}}</p>
	{{{ paginationLinks }}}
	{{{ resultTable }}}
	{{{ paginationLinks }}}
</div>
