/* Display the Bucket definition in a row to mimic the table view below it on the page. */
.mw-json td,.mw-json th {
    padding: 0.5em 0.5em
}

.mw-json tbody > tr {
    background-color: unset;
}

#mw-content-text > .mw-json > tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mw-content-text > .mw-json > tbody > tr > th {
    display: table-caption;
}

.bucket-list {
    text-wrap-mode: nowrap;
}
