/* Display the Bucket definition in a row to mimic the table view below it on the page. */
.mw-json td,.mw-json th {
    padding: 0.5em 0.5em
}

.mw-json tbody > tr {
    background-color: unset;
}

#mw-content-text > .noresize > .mw-json > tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mw-content-text > .noresize > .mw-json > tbody > tr > th {
    display: table-caption;
}

.bucket-list {
    text-wrap-mode: nowrap;
	margin-left: 1em;
}

.bucket__value-boolean {
	padding: 0 0.25em;
	outline: 1px solid var(--border-color-base,#a2a9b1);
	display: inline-block;
	width: calc(100% - 0.5em);
	text-align: center;
}

.bucket__value-boolean-true {
	background: #dcfae3;
}

.bucket__value-boolean-false {
	background: #fadcdc;
}
